In [320]:
import pandas as pd
df = pd.read_csv(r"C:\Users\DaRK LoRD\Downloads\data.csv")
df

         City                                               News  Label
0   Hyderabad  Hyderabad metro: It promises to transform life...      1
1   Hyderabad  City, interrupted: Rains disable Bengaluru, Hy...     -1
2   Hyderabad  Has Nagpur emerged as BJPâ€™s favourite commer...      0
3   Hyderabad  Managing institutions: The death of Rohith Vem...     -1
4   Hyderabad  Intolerance claims yet another victim, this ti...     -1
5   Hyderabad                       Zaiqa, Hyderabadi Ramzan ka!      1
6   Hyderabad  Hyderabad Bruise: Time for Centre to play peac...      1
7   Hyderabad                          All the worldâ€™s a stage      0
8   Hyderabad  Alleged burning to death of a boy inside army ...     -1
9   Hyderabad                          When Sichuan met Talisker      1
10  Hyderabad                            An afternoon in Tuscany      0
11  Hyderabad    KCR goes the way of North Koreaâ€™s Kim Jong-un     -1
12  Hyderabad                 Of autumn afternoons and mooncakes      1
13  Hyderabad  Telanganaâ€™s dubious survey should not be the...     -1
14  Hyderabad  Discipline Telangana BJP MLA who described San...     -1
15  Hyderabad                       Chalo saheb, jamva chalo ji!      1
16      Delhi  Seeing only red: Red Fort is Indiaâ€™s pride. ...      0
17      Delhi  Christians observe Good Friday with prayers, r...      1
18      Delhi  Literature of Independence â€“ and the unhappi...     -1
19      Delhi  Hadiya, Shifah, Sadiya, Ankit Saxena â€¦ love ...     -1
20      Delhi    Sheila Dikshitâ€™s childhood: A fairytale Dilli      1
21      Delhi  Civic sense: Delhiâ€™s sealing drive is a flaw...     -1
22      Delhi                      Enough of shyness with Israel      1
23      Delhi  What price Kolkata? One of the many joys of th...      1
24      Delhi                                 Year of the number      0
25      Delhi                      Gujarat votes PM for â€˜CMâ€™      0
26      Delhi            BJP wins Gujarat, Rahul sheds loser tag      0
27      Delhi  Red herring: Instead of targeting private hosp...      1
28      Delhi  Rethink Healthcare: Government hospitals must ...      1
29      Delhi                Healthcare: How private is private?      0
..        ...                                                ...    ...
46     Mumbai  Fix fire safety: Kamala Mills nightmare is wai...     -1
47     Mumbai  This Mumbai chawl hosted rallies by Gandhi and...      1
48     Mumbai  Fall of Mumbai Art Deco building reflects vani...     -1
49     Mumbai  Bird song, church bells, and Meena Kumari: whe...      1
50     Mumbai  How a community housing complex helped Banjara...      1
51     Mumbai  Scientist, scamster, ladies bar, school: This ...      1
52     Mumbai  City, interrupted: Rains disable Bengaluru, Hy...     -1
53     Mumbai  Elphinstone station tragedy: Letâ€™s stop bein...     -1
54     Mumbai  No more excuses: Mumbai stampede should have b...     -1
55     Mumbai  Shiv Sena should worry why Mumbai appears wors...     -1
56    Chennai      2G verdict adds more spice to RK Nagar bypoll      0
57    Chennai                          First they pirated Mersal      0
58    Chennai  Will Tamil star Vijayâ€™s â€˜Mersalâ€™ create ...      0
59    Chennai  Truth about urban flooding: Cities like Mumbai...     -1
60    Chennai  EPS topples OPS: Swearing in EK Palaniswami as...      0
61    Chennai  Chennai oil spill: Not such a â€˜minor inciden...     -1
62    Chennai  Leadership failure: Peaceful movement for jall...     -1
63    Chennai  Misplaced activism: Ban on jallikattu is neith...      0
64    Chennai                      Sasikala roadblocks Sasikala?     -1
65    Chennai     Donâ€™t eulogise Amma for her freebie politics      1
66    Chennai  Jayalalitha: A towering force for Tamil Naduâ€...      1
67    Chennai  Madras High Courtâ€™s brave judgment on creati...      1
68    Chennai  #DesiGirlsRock: Jaya & Didi in control. Is May...      0
69    Chennai  Amma beats exit polls, now letâ€™s all pray fo...      1
70    Chennai         The Great Chennai Year-End Awards go toâ€¦      1
71    Chennai                    Next to music, beer is the best      0
72    Chennai                            Return of the patriarch      1
73    Chennai       J. Krishnamurti: A Star In The Eastâ€”Part I      1
74    Chennai                      Wish you a resilient new year      1
75    Chennai     How the split in Tamil Nadu will help Congress      0

[76 rows x 3 columns]

In [ ]:
df = df.set_index('Unnamed: 0')
df.head()

In [321]:
y = df.Label

In [322]:
df.drop("Label", axis=1)

         City                                               News
0   Hyderabad  Hyderabad metro: It promises to transform life...
1   Hyderabad  City, interrupted: Rains disable Bengaluru, Hy...
2   Hyderabad  Has Nagpur emerged as BJPâ€™s favourite commer...
3   Hyderabad  Managing institutions: The death of Rohith Vem...
4   Hyderabad  Intolerance claims yet another victim, this ti...
5   Hyderabad                       Zaiqa, Hyderabadi Ramzan ka!
6   Hyderabad  Hyderabad Bruise: Time for Centre to play peac...
7   Hyderabad                          All the worldâ€™s a stage
8   Hyderabad  Alleged burning to death of a boy inside army ...
9   Hyderabad                          When Sichuan met Talisker
10  Hyderabad                            An afternoon in Tuscany
11  Hyderabad    KCR goes the way of North Koreaâ€™s Kim Jong-un
12  Hyderabad                 Of autumn afternoons and mooncakes
13  Hyderabad  Telanganaâ€™s dubious survey should not be the...
14  Hyderabad  Discipline Telangana BJP MLA who described San...
15  Hyderabad                       Chalo saheb, jamva chalo ji!
16      Delhi  Seeing only red: Red Fort is Indiaâ€™s pride. ...
17      Delhi  Christians observe Good Friday with prayers, r...
18      Delhi  Literature of Independence â€“ and the unhappi...
19      Delhi  Hadiya, Shifah, Sadiya, Ankit Saxena â€¦ love ...
20      Delhi    Sheila Dikshitâ€™s childhood: A fairytale Dilli
21      Delhi  Civic sense: Delhiâ€™s sealing drive is a flaw...
22      Delhi                      Enough of shyness with Israel
23      Delhi  What price Kolkata? One of the many joys of th...
24      Delhi                                 Year of the number
25      Delhi                      Gujarat votes PM for â€˜CMâ€™
26      Delhi            BJP wins Gujarat, Rahul sheds loser tag
27      Delhi  Red herring: Instead of targeting private hosp...
28      Delhi  Rethink Healthcare: Government hospitals must ...
29      Delhi                Healthcare: How private is private?
..        ...                                                ...
46     Mumbai  Fix fire safety: Kamala Mills nightmare is wai...
47     Mumbai  This Mumbai chawl hosted rallies by Gandhi and...
48     Mumbai  Fall of Mumbai Art Deco building reflects vani...
49     Mumbai  Bird song, church bells, and Meena Kumari: whe...
50     Mumbai  How a community housing complex helped Banjara...
51     Mumbai  Scientist, scamster, ladies bar, school: This ...
52     Mumbai  City, interrupted: Rains disable Bengaluru, Hy...
53     Mumbai  Elphinstone station tragedy: Letâ€™s stop bein...
54     Mumbai  No more excuses: Mumbai stampede should have b...
55     Mumbai  Shiv Sena should worry why Mumbai appears wors...
56    Chennai      2G verdict adds more spice to RK Nagar bypoll
57    Chennai                          First they pirated Mersal
58    Chennai  Will Tamil star Vijayâ€™s â€˜Mersalâ€™ create ...
59    Chennai  Truth about urban flooding: Cities like Mumbai...
60    Chennai  EPS topples OPS: Swearing in EK Palaniswami as...
61    Chennai  Chennai oil spill: Not such a â€˜minor inciden...
62    Chennai  Leadership failure: Peaceful movement for jall...
63    Chennai  Misplaced activism: Ban on jallikattu is neith...
64    Chennai                      Sasikala roadblocks Sasikala?
65    Chennai     Donâ€™t eulogise Amma for her freebie politics
66    Chennai  Jayalalitha: A towering force for Tamil Naduâ€...
67    Chennai  Madras High Courtâ€™s brave judgment on creati...
68    Chennai  #DesiGirlsRock: Jaya & Didi in control. Is May...
69    Chennai  Amma beats exit polls, now letâ€™s all pray fo...
70    Chennai         The Great Chennai Year-End Awards go toâ€¦
71    Chennai                    Next to music, beer is the best
72    Chennai                            Return of the patriarch
73    Chennai       J. Krishnamurti: A Star In The Eastâ€”Part I
74    Chennai                      Wish you a resilient new year
75    Chennai     How the split in Tamil Nadu will help Congress

[76 rows x 2 columns]

In [323]:
df['City']

0     Hyderabad
1     Hyderabad
2     Hyderabad
3     Hyderabad
4     Hyderabad
5     Hyderabad
6     Hyderabad
7     Hyderabad
8     Hyderabad
9     Hyderabad
10    Hyderabad
11    Hyderabad
12    Hyderabad
13    Hyderabad
14    Hyderabad
15    Hyderabad
16        Delhi
17        Delhi
18        Delhi
19        Delhi
20        Delhi
21        Delhi
22        Delhi
23        Delhi
24        Delhi
25        Delhi
26        Delhi
27        Delhi
28        Delhi
29        Delhi
        ...
46       Mumbai
47       Mumbai
48       Mumbai
49       Mumbai
50       Mumbai
51       Mumbai
52       Mumbai
53       Mumbai
54       Mumbai
55       Mumbai
56      Chennai
57      Chennai
58      Chennai
59      Chennai
60      Chennai
61      Chennai
62      Chennai
63      Chennai
64      Chennai
65      Chennai
66      Chennai
67      Chennai
68      Chennai
69      Chennai
70      Chennai
71      Chennai
72      Chennai
73      Chennai
74      Chennai
75      Chennai
Name: City, Length: 76, dtype: object

In [324]:
y.head()

0    1
1   -1
2    0
3   -1
4   -1
Name: Label, dtype: int64

Splitting Training and testing data:

In [325]:
from sklearn.model_selection import train_test_split

In [326]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.25, random_state=53)

In [327]:
X_train.head()

         City                                               News  Label
2   Hyderabad  Has Nagpur emerged as BJPâ€™s favourite commer...      0
43     Mumbai  One wish for 2018: Oh Lord, please let us take...     -1
64    Chennai                      Sasikala roadblocks Sasikala?     -1
51     Mumbai  Scientist, scamster, ladies bar, school: This ...      1
47     Mumbai  This Mumbai chawl hosted rallies by Gandhi and...      1

In [328]:
X_test.head()

         City                                               News  Label
44     Mumbai  Embattled histories: Koregaon Bhima clashes un...     -1
40     Mumbai  Battle lines of Bhima Koregaon: In tune with t...     -1
4   Hyderabad  Intolerance claims yet another victim, this ti...     -1
0   Hyderabad  Hyderabad metro: It promises to transform life...      1
15  Hyderabad                       Chalo saheb, jamva chalo ji!      1

Using CountVectorizer and tfidf Vectorizer

In [329]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [330]:
count_vectorizer = CountVectorizer(stop_words='english')
count_train = count_vectorizer.fit_transform(X_train['News']) 
count_test = count_vectorizer.transform(X_test['News'])

In [331]:
print(count_train.A.shape)
print(X_train.shape)
print(len(count_vectorizer.get_feature_names()))

(57, 337)
(57, 3)
337

In [332]:
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

In [333]:
count_df.head()

,120,2018,2g,aarey,activism,adds,administrative,affordable,afternoons,ahead,...,warâ,water,way,wins,wish,words,world,wrongs,year,zaiqa
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# using multinomial naive bayes and countvectorizer

In [334]:
from sklearn.naive_bayes import MultinomialNB

In [335]:
clf = MultinomialNB()

In [336]:
from sklearn import metrics

In [337]:
clf.fit(count_train, y_train)
pred = clf.predict(count_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.474

# Using Passive Aggressive Classifier and Countvectorizer

In [338]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [339]:
linear_clf = PassiveAggressiveClassifier(n_iter=50)

In [340]:
linear_clf.fit(count_train, y_train)
pred = linear_clf.predict(count_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.474

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:117: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

Using Tf-IDF

In [341]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)

In [342]:
tfidf_train = tfidf_vectorizer.fit_transform(X_train['News'])

In [343]:
tfidf_test = tfidf_vectorizer.transform(X_test['News'])

In [344]:
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

In [345]:
tfidf_df.head()

,120,2018,2g,aarey,activism,adds,administrative,affordable,afternoons,ahead,...,warâ,water,way,wins,wish,words,world,wrongs,year,zaiqa
0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.346434,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
1,0.000000,0.357532,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.324338,0.0,0.0,0.0,0.000000,0.0
2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
3,0.324977,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.294805,0.0
4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0

# using multinomial naive bayes and tfidf

In [346]:
clf = MultinomialNB()

In [347]:
clf.fit(tfidf_train, y_train)
pred = clf.predict(tfidf_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.526

# Using Passive Aggressive Classifier and tfidf

In [348]:
linear_clf = PassiveAggressiveClassifier(n_iter=100)

In [349]:
linear_clf.fit(tfidf_train, y_train)
pred = linear_clf.predict(tfidf_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.474

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:117: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

In [350]:
pred

array([-1, -1,  1, -1,  1,  1,  1,  1,  0, -1, -1,  1,  1,  1,  1,  0,  1,
       -1,  1], dtype=int64)

In [351]:
y_test

44   -1
40   -1
4    -1
0     1
15    1
19   -1
70    1
24    0
41    1
3    -1
36    1
10    0
31    1
7     0
17    1
62   -1
33   -1
55   -1
69    1
Name: Label, dtype: int64

Getting list of cities in test data

In [352]:
X_test

         City                                               News  Label
44     Mumbai  Embattled histories: Koregaon Bhima clashes un...     -1
40     Mumbai  Battle lines of Bhima Koregaon: In tune with t...     -1
4   Hyderabad  Intolerance claims yet another victim, this ti...     -1
0   Hyderabad  Hyderabad metro: It promises to transform life...      1
15  Hyderabad                       Chalo saheb, jamva chalo ji!      1
19      Delhi  Hadiya, Shifah, Sadiya, Ankit Saxena â€¦ love ...     -1
70    Chennai         The Great Chennai Year-End Awards go toâ€¦      1
24      Delhi                                 Year of the number      0
41     Mumbai  Bajaj, Bollywood, and Mumbaiâ€™s favourite bea...      1
3   Hyderabad  Managing institutions: The death of Rohith Vem...     -1
36     Mumbai  Maharashtra shows the way on how to tackle tub...      1
10  Hyderabad                            An afternoon in Tuscany      0
31      Delhi  TIFLI 2017: A celebration of childhood through...      1
7   Hyderabad                          All the worldâ€™s a stage      0
17      Delhi  Christians observe Good Friday with prayers, r...      1
62    Chennai  Leadership failure: Peaceful movement for jall...     -1
33      Delhi  Hike in metro fares will add to pollution woes...     -1
55     Mumbai  Shiv Sena should worry why Mumbai appears wors...     -1
69    Chennai  Amma beats exit polls, now letâ€™s all pray fo...      1

In [353]:
z = X_test['City'].keys()

In [354]:
z

Int64Index([44, 40, 4, 0, 15, 19, 70, 24, 41, 3, 36, 10, 31, 7, 17, 62, 33, 55,
            69],
           dtype='int64')

In [355]:
cities = []
for t in z:
    #print(t)
    cities.append(df.iloc[t][0])

In [356]:
cities

['Mumbai',
 'Mumbai',
 'Hyderabad',
 'Hyderabad',
 'Hyderabad',
 'Delhi',
 'Chennai',
 'Delhi',
 'Mumbai',
 'Hyderabad',
 'Mumbai',
 'Hyderabad',
 'Delhi',
 'Hyderabad',
 'Delhi',
 'Chennai',
 'Delhi',
 'Mumbai',
 'Chennai']

Making csv with city and sentiment value

In [357]:
submission = pd.DataFrame({
        "City": cities,
        "Sentiment": pred
    })

submission.to_csv('submission.csv', index=False)

In [260]:
submission

         City  Sentiment
0      Mumbai         -1
1      Mumbai         -1
2   Hyderabad          1
3   Hyderabad         -1
4   Hyderabad          1
5       Delhi          1
6     Chennai          1
7       Delhi          1
8      Mumbai          0
9   Hyderabad         -1
10     Mumbai         -1
11  Hyderabad          1
12      Delhi          1
13  Hyderabad          1
14      Delhi          1
15    Chennai          0
16      Delhi          1
17     Mumbai         -1
18    Chennai          1